body{
    background: url(/regform-test/img/background-blue.jpg) no-repeat !important;
    background-size: cover;
}

#regContainer{
    background-color: white;
    height: 90%;
    width: 40%;
    border-radius: 5px;
}
.titleForm{
    padding: 5px;
    color: white;
    background-color: black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 8%;
    text-align: center;
}